@model IEnumerable<OCTS.Models.User>

@{
    ViewBag.Title = "TeacherInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    h2 {
        font-size: 36px;
        text-align: center;
    }
</style>
<h2>教师个人信息</h2>

<button type="button" id="createCourseInfo" class="btn btn-danger" onclick="location.href='#'">导入教师信息</button>
<table class="table">
    <tr>
        <th>
            教师姓名
        </th>
        <th>
            教师性别
        </th>
        <th>
           教师邮箱
        </th>
        <th>
           教师电话
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userSex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userPhone)
        </td>
        <td>
            @Html.ActionLink("编辑", "EditTeacherInfo", new { id=item.userId }) |
            @Html.ActionLink("详情", "TeacherInfoDetails", new { id=item.userId }) |
            @Html.ActionLink("删除", "DeleteTeacherInfo", new { id=item.userId })
        </td>
    </tr>
}

</table>
